/* Add application styles & imports to this file! */
@import 'app/halloween-logo';
@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=EB+Garamond');


body{
   font-family: Oswald;
   background-image: url('https://i.pinimg.com/originals/98/c1/2c/98c12c58d97d688e892efa96033b8827.gif');
   background-size: cover;
}
