/* Add application styles & imports to this file! */
@import 'app/halloween-logo';
@import url('https://fonts.googleapis.com/css?family=Yeon+Sung');

body{
   background-image: url('https://cdn.dribbble.com/users/1851463/screenshots/3859850/skeletonpattern.jpg');
   background-size: cover;
   font-family: 'Yeon Sung', cursive;
}
